* text=auto
credentials/tokens.json  filter=crypt diff=crypt
credentials/jitsi.json  filter=crypt diff=crypt
credentials/mailgun.json  filter=crypt diff=crypt
credentials/deepl.json  filter=crypt diff=crypt
credentials/apixu.json  filter=crypt diff=crypt
credentials/mapbox.json  filter=crypt diff=crypt
credentials/opencpu.json  filter=crypt diff=crypt
credentials/github.json  filter=crypt diff=crypt
