name: NodeCI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 15.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Start MongoDB As Docker
      uses: wbari/start-mongoDB@v0.2
    - name: npm install, lint, and test
      run: |
        npm ci
        npm run lint
        npm test
      env:
        CI: true
    - name: Calculate Test Coverage
      run: |
        npm run test-cov
    - name: Upload Coverage Report
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
